{% extends "wrapper.html" %}
{% block content %}
<div class="dropdown-class" >
  <form>
    <label for="name-select">Выберите внедренца для просмотра отпуска</label>
    <select class="form-select" id="form-select-top" name="form-select-top">
      <option selected>Выбор внедренца...</option>
      {% for person in person_list %}
        <option>{{ person }}</option>
      {% endfor %}
  </select>
  </form>
</div>

{% if dict.status %}
<td>
  <a href="http://{{ dict.company }}">{{ dict.company }}</a>
</td>
{% else %}  
<td>
  {{ dict.company }}
</td>
{% endif %}  


<table class="table table-hover table-bordered">
    <thead class="table-dark" width="10px" height="10px">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Компания</th>
        <th scope="col">Внедренец</th>
        <th scope="col">Заместитель</th>
        <th scope="col">Дата замещения c</th>
        <th scope="col">Дата замещения по (включительно)</th>
      </tr>
    </thead>
    <tbody>
      {% for dict in dict_list %}
      <tr>
        <th scope="row">
          {{ dict.id }}
        </th>

        {% if dict.status %}
          <td>
            <a href="http://{{ dict.company }}">{{ dict.company }}</a>
          </td>
        {% else %}  
          <td>
            {{ dict.company }}
          </td>
        {% endif %}  

        <td>
          {{ dict.person }}
        </td>
        <td>
          <!-- <div class="dropdown" >
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 100%;">
              Выбрать заместителя...
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="overflow-y: scroll;height: 300px;" data-live-search="true">
              {% for person in person_list %}
                <option>{{ person }}</option>
              {% endfor %}
            </div>
          </div> -->
          <select class="form-select" id="form-select-in-table" name="form-select-in-table">
              <option selected>Выбор внедренца...</option>
              {% for person in person_list %}
                <option>{{ person }}</option>
              {% endfor %}
          </select>
        </td>
        <td>
          <div class="form-group">
            <!-- элемент input с id = datetimepicker1 -->
            <div class='input-group date' id='datetimepicker1'>
              <input type='text' class='form-control' />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <!-- Инициализация виджета "Bootstrap datetimepicker" -->
          <script>
            $(function () {
              // идентификатор элемента (например: #datetimepicker1), для которого необходимо инициализировать виджет Bootstrap DateTimePicker
              $('#datetimepicker1').datetimepicker();
            });
          </script>  
        </td>
        <td>
          <div class="form-group">
            <!-- элемент input с id = datetimepicker1 -->
            <div class='input-group date' id='datetimepicker1'>
              <input type='text' class='form-control' />
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <!-- Инициализация виджета "Bootstrap datetimepicker" -->
          <script>
            $(function () {
              // идентификатор элемента (например: #datetimepicker1), для которого необходимо инициализировать виджет Bootstrap DateTimePicker
              $('#datetimepicker1').datetimepicker();
            });
          </script>  
        </td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
{% endblock content %}