{% extends "wrapper.html" %}
{% block content %}
<table class="table table-hover table-bordered">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Компания</th>
        <th scope="col">Внедренец</th>
        <th scope="col">Заместитель</th>
        <th scope="col">Дата начала замещения</th>
        <th scope="col">Дата окончания замещения</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>anvaz</td>
        <td>Ситник</td>
        <td>Касаткина</td>
        <td>2023-07-01</td>
        <td>2023-07-21</td>
      </tr>
      
      <tr>
        <th scope="row">3</th>
        <td>anvaz</td>
        <td>Ситник</td>
        <td>Касаткина</td>
        <td>2023-07-01</td>
        <td>2023-07-21</td>
      </tr>
    </tbody>
  </table>
{% endblock content %}