{% extends "wrapper.html" %}
{% block content %}
<table class="table table-hover table-bordered">
    <thead class="table-dark" width="10px" height="10px">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Компания</th>
        <th scope="col">Внедренец</th>
        <th scope="col">Заместитель</th>
        <th scope="col">Дата начала замещения</th>
        <th scope="col">Дата окончания замещения</th>
      </tr>
    </thead>
    <tbody>
      {% for i in id %}
        <tr>
            <th scope="row">{{ i }}</th>
            <td>{{ company_name }}</td>
            <td>{{ person }}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}